<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12775553606-fh3tiubtg9o06jebnf8ohiap3nre84rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12775553606-fh3tiubtg9o06jebnf8ohiap3nre84rr</string>
	<key>API_KEY</key>
	<string>AIzaSyDP6NDgpd6N_64BAA4iI5LHyNrWVQeGcms</string>
	<key>GCM_SENDER_ID</key>
	<string>12775553606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kukku.app</string>
	<key>PROJECT_ID</key>
	<string>kukku-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kukku-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12775553606:ios:48fdf1125f5cd3de94e847</string>
</dict>
</plist>